.container {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;


    background-color: #f5eeee;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

h2 {
    margin: 0;
    padding: 0;
}

